html {
    background-color: #1b172c;
    color: #eee;
    font-family: Roboto, 'Arial', sans-serif;
    height: 100%
}

body {
    height: calc(100% - 16px);
}

#mynetwork {
    width: 100%;
    border: 1px solid #0D1117;
    background: #0D1117
}

.nodeName {
    text-align: center;
}

.edit-node-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 1000;
}

.edit-node-background > .edit-node-card {
    width: 750px;
    margin-left: calc(-750px / 2);
    height: 500px;
    margin-top: -250px;
    background-color: #313131;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 16px;
    border-radius: 10px;
    overflow-y: auto;
}

.edit-node-param, .edit-node-info, .edit-node-type, .edit-node-id {
    padding: 8px 0px;
}

.edit-node-param-value, .edit-node-id-value {
    float: right;
    text-align: right;
    width: 50px;
    border: none;
    border-radius: 2px;
    background-color: #656565;
    color: #fff;
}

.edit-node-type-value {
    float: right;
    background-color: #656565;
    color: #fff;
}

.edit-node-bar {
    height: 31px;
    padding-bottom: 8px;
}

.edit-node-bar > button {
    float: right;
    border: none;
    background-color: #6161FF;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin: 0px 5px;
    cursor: pointer;
}

.edit-node-bar > button:hover, .edit-node-bar > button:active {
    background-color: #D14600;
}

.vis-button.vis-convert {
    top: 4px;
    right: 30px;
    position: absolute;
    font-family: verdana;
    font-size: 12px;
    border: none;
    box-sizing: content-box;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
}

.vis-button.vis-convert > .vis-label {
    margin: 0 0 0 23px;
    line-height: 25px;
}

.export-option-holder > .export-option-checkbox:not(:checked) + .export-option-input {
    display: none;
}