html {
    background-color: #1b172c;
    color: #eee;
    font-family: Roboto, 'Arial', sans-serif;
}

#mynetwork {
    width: 100%;
    border: 1px solid #0D1117;
    background: #0D1117
}

.nodeName {
    text-align: center;
}

.edit-node-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 1000;
}

.edit-node-background > .edit-node-card {
    width: 500px;
    height: 90%;
    background-color: white;
    margin: 16px auto;
    padding: 16px;
    border-radius: 10px;
}