html {
    background-color: #1b172c;
    color: #eee;
    font-family: Roboto, 'Arial', sans-serif;
}

#mynetwork {
    width: 100%;
    border: 1px solid #0D1117;
    background: #0D1117
}

.nodeName {
    text-align: center;
}

.edit-node-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 1000;
}

.edit-node-background > .edit-node-card {
    width: 750px;
    height: 500px;
    background-color: #313131;
    margin: calc((50% - 250px) / 2) auto;
    padding: 16px;
    border-radius: 10px;
}

.edit-node-param, .edit-node-info {
    padding: 8px 0px;
}

.edit-node-param-value, .edit-node-id-value {
    float: right;
    text-align: right;
    width: 50px;
    border: none;
    border-radius: 2px;
    background-color: #656565;
    color: #fff;
}

.edit-node-bar > button {
    float: right;
    border: none;
    background-color: #6161FF;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin: 0px 5px;
    cursor: pointer;
}

.edit-node-bar > button:hover, .edit-node-bar > button:active {
    background-color: #D14600;
}